<?xml version="1.0" encoding="UTF-8"?>


<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.os.mobile.silentlogin"
      version="1.0.0">
    <name>Silent Login</name>
    <description>Initiates Silent Login</description>
    <license>Apache 2.0</license>
    <keywords>cordova,outsystems, silent</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/SilentLogin.js" name="SilentLogin">
        <clobbers target="cordova.plugins.silentLogin" />
        <clobbers target="plugin.silentLogin" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SilentLogin">
                <param name="ios-package" value="SilentLogin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/SilentLogin.h" />
        <source-file src="src/ios/SilentLogin.m" />
    </platform>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LogOut">
                <param name="android-package" value="com.os.mobile.silentlogin.SilentLogin"/>
            </feature>
        </config-file>

        <source-file src="src/android/SilentLogin.java" target-dir="src/com/os/mobile/silentlogin" />
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/SilentLoginProxy.js" name="SilentLoginProxy">
            <merges target="" />
        </js-module>
    </platform>


</plugin>
